.create_acc{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        width: 45%;
    }
    .create_acc_text{
        width: 50%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            color: white;
            font-size: 51px;
        }
        p{
            color: white;
            font-size: 22px;
            width: 70%;
        }
        button{
            background-color: rgba(162, 89, 255, 1);
            width: 450px;
            height: 46px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 20px;
        }
        ul{
            height: 55%;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            li{
                form{
                    input{
                        background-color: white;
                        width: 450px;
                        height: 46px;
                        border-radius: 20px;
                        input::placeholder {
                            background: url("../../assets/btn_icons/Eye.svg") no-repeat;
                        }
                    }
                }
            }
        }
    }
}