.nft_more{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .create_line{
        width: 100%;
        background-color: rgba(59, 59, 59, 1);
        height: 1px;
    }
    ul{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        button{
            width: 350px;
            height: 60px;
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            color: white;
            font-size: 22px;
        }
    }
    .bg{
        width: 100%;
        background-color: rgba(59, 59, 59, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        .bot{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
    }
    }
    
}