.nft_more{
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    ul{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        button{
            width: 350px;
            height: 60px;
            background-color: rgba($color: #000000, $alpha: 0);
            border: none;
            color: white;
            font-size: 22px;
        }
    }
    .bot{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
}