.header_nft{
    width: 95%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 50%;
        font-size: 16px;
        a{
            color: white;
            text-decoration: none;
        }
        button{
            background-color: rgba(162, 89, 255, 1);
            width: 152px;
            height: 60px;
            border: none;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            color: white;
        }
        
    }
}