.join_section{
    width: 80%;
    height: 50vh;
    background-color: rgba(59, 59, 59, 1);
    border-radius: 40px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    div{
        width: 35%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        h4{
            font-size: 38px;
        }
        p{
            font-size: 22px;
        }
    }
    img{
        height: 70%;
    }
}