.top_creators{
    width: 80%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        width: 100%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div{
            h2{
            font-size: 38px;
            color: white;
            }
            p{
                color: white;
                font-size: 22px;
            }
        }
        
        button{
            border: 1px rgba(162, 89, 255, 1) solid;
            width: 267px;
            height: 60px;
            background-color: rgba(162, 89, 255, 0);
            
            border-radius: 20px;
            a{
                color: white;
                font-size: 16px;
                text-decoration: none;
            }
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }
}