.collect_wallet{
    margin-bottom: 5vh;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img{
        height: 100%;
    }
    .wallet_text{
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         h1{
            color: white;
            font-size: 51px;
        }
        p{
            color: white;
            font-size: 22px;
            width: 50%;
        }
        ul{
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            list-style: none;
            li{
                background-color: rgba(59, 59, 59, 1);
                width: 320px;
                height: 72px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                border: 1px rgba(162, 89, 255, 1) solid;
                border-radius: 20px;
                img{
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                }
                p{
                    margin-left: 10px;
                }
            }
        }
    }
}