.how_section{
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
    margin-bottom: 5vh;
    div{
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        h2{
            font-size: 38px;
        }
        p{
            font-size: 22px;
        }
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        list-style: none;
        li{
            width: 20%;
            height: 90%;
            background-color: rgba(59, 59, 59, 1);
            border-radius: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                    h6{
                font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
            }
            
        }
    }
}