.footer_nft{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(59, 59, 59, 1);
    border-top: 2px rgba(43, 43, 43, 1) solid;
    .footer_top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 50%;
        div{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .first_column{
            width: 25%;
            height: 100%;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
                width: 60%;
            }
        }
        .second_column{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 15%;
            height: 80%;
            h4{
                font-size: 22px;
                color: white;
            }
            ul{
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                list-style: none;
                li{
                    a{
                        color: rgba(204, 204, 204, 1);
                        text-decoration: none;
                        font-size: 16px;
                        
                    }
                }
            }
        }
        .third_column{
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
             h4{
                font-size: 22px;
                color: white;
            }
            p{
                color: rgba(204, 204, 204, 1);
                font-size: 16px;
            }
        }
    }
    .create_line{
        width: 80%;
        height: 1px;
        background-color: rgba(133, 133, 132, 1);
    }
    p{
        color: rgba(204, 204, 204, 1);
    }
    .footer_bottom{
        width: 80%;
        height: 10%;
        text-align: start;
    }
}
.form_sub{
    width: 425px;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: relative;
    input{
        background-color: white;
        width: 425px;
        height: 60px;
        position: relative;
        z-index: 1;
        border-radius: 20px;
        border: none;
    }
    button{
        background-color: rgba(162, 89, 255, 1);
        position: absolute;
        right: 0;
        width: 179px;
        height: 60px;
        border: none;
        border-radius: 20px;
        color: white;
        z-index: 2;
        font-size: 16px;
        
    }
}