.nft_more{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        width: 80%;
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h2{
            font-size: 38px;
            color: white;
        }
        button{
            border: 1px rgba(162, 89, 255, 1) solid;
            width: 267px;
            height: 60px;
            background-color: rgba(162, 89, 255, 0);
            color: white;
            font-size: 16px;
            border-radius: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }
    }
    .bg{
        width: 100%;
        background-color: rgba(59, 59, 59, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        .bot{
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
    }
    
}