.nft_more{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
        width: 80%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        .rank_title{
            height: 25vh;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h2{
                font-size: 51px;
            }
            p{
                font-size: 22px;
            }
            form{
                width: 100%;
                height: 60px;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: rgba(59, 59, 59, 1);
                    border: 1px rgb(192, 192, 192) solid;
                    border-radius: 20px;
                    color: rgba(133, 133, 132, 1);
                }
            }
        }
        .btns{
            height: 10vh;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            margin-top: 3vh;
            margin-bottom: 3vh;
            button{
                background-color: rgba(43, 43, 43, 0);
                border: none;
                color: white;
                font-size: 22px;
            }
        }
    }
    .bg{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(59, 59, 59, 1);
        .bot{
            width: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }
    }
    
}