.hero_section{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 60vh;
    color: white;
    .text_hero{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-size: 67px;
        }
        p{
            font-size: 22px;
        }
        button{
            background-color: rgba(162, 89, 255, 1);
            height: 60px;
            width: 224px;
            border: none;
            border-radius: 25px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            p{
                font-size: 16px;
                color: white;
                text-decoration: none;
            }
            img{
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 10%;
            list-style: none;
            h6{
                font-size: 28px;
            }
            p{
                font-size: 24px;
            }
        }
    }
    .image_hero{
        height: 90%;
        width: 510px;
        background-color: rgba(59, 59, 59, 1);
        border-radius: 30px;
        div{
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            height: 15%;
                    p{
                    font-size: 22px;
                    margin-left: 20px;
                    }
                    .profile{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 20%;
                        height: 30%;
                        margin-left: 20px;
                        p{
                            font-size: 16px;
                        }
                    }
            
        
        }
        
       
    }
}