.card{
    background-color: rgba(59, 59, 59, 1);
    border-radius: 20px;
    width: 330px;
    height: 469px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    img{
        width: 330px;
        height: 295px;
        border-radius: 20px;
    }
    div{
        height: 45%;
        width: 80%;
         display: flex;
        flex-direction: column;
        justify-content: space-around;
         .auth{
        height: 40%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            height: 24px;
            width: 24px;
            margin-right: 8px;
        }
        h4{
            font-size: 22px;
        }
        div{
            display: flex;
            flex-direction: row;
            width: 30%;
            height: 40%;
            justify-content: space-between;
        }
        }
        .money{
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: row;
            span{
                color: rgba(133, 133, 132, 1);
            }
        }
    }
   
}

.card_black{
    background-color: rgba(43, 43, 43, 1);
    border-radius: 20px;
    width: 330px;
    height: 469px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    img{
        width: 330px;
        height: 295px;
        border-radius: 20px;
    }
    div{
        height: 45%;
        width: 80%;
         display: flex;
        flex-direction: column;
        justify-content: space-around;
         .auth{
        height: 40%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            height: 24px;
            width: 24px;
            margin-right: 8px;
        }
        h4{
            font-size: 22px;
        }
        div{
            display: flex;
            flex-direction: row;
            width: 30%;
            height: 40%;
            justify-content: space-between;
        }
        }
        .money{
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: row;
            span{
                color: rgba(133, 133, 132, 1);
            }
        }
    }
   
}