.mush_sec{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: hue-rotate(0.7turn) brightness(60%);
        }
        .filter{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 3;
            background: linear-gradient(to top, rgb(141, 62, 172), rgba(162, 89, 255, 0));
            top: 0;
        }
    }
    .text_mush{
        position: absolute;
        z-index: 2;
        top: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 30%;
        .time{
            background-color: rgba(59, 59, 59, 0.5);
            height: 144px;
            width: 295px;
            color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            p{
                width: 80%;
            }
            h5{
                font-size: 38px;
            }
            ul{
                list-style: none;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;

            }
        }
        .text_auth{
            height: 100%;
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h3{
                color: white;
                font-size: 51px;
            }
            button{
                background-color: rgba(255, 255, 255, 1);
                width: 198px;
                height: 60px;
                border-radius: 20px;
                border: none;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                img{
                height: 20px;
                width: 20px;
                margin-right: 10px;
                }
            }
            .btn_auth{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 151px;
                height: 44px;
                background-color: rgba(59, 59, 59, 1);
                color: white;
                img{
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}