.nft_sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .nft_bg{
        width: 100%;
        height: 660px;
        object-fit: cover;
    }
    .nft_text{
        width: 80%;
        height: 100vh;
        margin-top: 5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            color: white;
            height: 100%;
            line-height: 160%;
            font-size: 22px;
            .auth{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            img{
                width: 24px;
                height: 24px;
                margin-right: 5px;
            }
            span{
                color: rgba(133, 133, 132, 1);
            }
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                list-style: none;
                text-transform: uppercase;
                li{
                    background-color: rgba(59, 59, 59, 1);
                    width: 150px;
                    height: 46px;
                    border-radius: 15px;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .time{
            background-color: rgba(59, 59, 59, 0.5);
            height: 234px;
            width: 295px;
            color: white;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            p{
                width: 80%;
            }
            h5{
                font-size: 38px;
            }
            ul{
                list-style: none;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;

            }
            button{
                background-color: rgba(162, 89, 255, 1);
                height: 60px;
                width: 235px;
                border-radius: 20px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
            }
        }
    }
}